.hero {
    position: relative;
    padding-top: 80px;
}

.hero::before {
    bottom: 106px;
    width: 100%;
}

.hero-container {
    display: flex;
    gap:28px;

}

.hero-images {
    position: relative;
    display: flex;
}

.hero-choose {
    position: absolute;
    top: 40px;
    left:50%;
    transform: translateX(-50%);
    border: 1px solid #535755;
    padding:22px;
    background: rgb(255 255 255 / 0.9);
    max-width: 161px;
    text-align: center;
}

.hero h1 {
    font-family: "Oswald", sans-serif;
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 62px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.hero h1 strong {
    font-weight: 600;
    color: #3596ED;
}



.hero-info {
    min-width: 492px;
}

.hero-info .text {
    width: 440px;
    margin-bottom: 140px;
}

.news-container {
    display: flex;
    gap:28px;
}

.news-article {
    display: flex;
    flex-direction: column;
    max-width: 284px;
    flex: 1 1 25%;
    border: 1px solid #d3cbd9;
    background-color: #fff;
    overflow: hidden;
}

.news-article img {
    display: block;
}
.news-info {
    padding: 20px 20px 0;
    margin-bottom: 12px;
}

.news-date {
    display: inline-block;
    margin-bottom: 8px;
}

.news-article footer {
    padding: 0 20px 20px;
    margin-top: auto;
}

.news-link {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #3596ed;
    
}

.news-link::after {
    content: '';
    display: inline-block;
    height: 9px;
    width: 22px;
    transition: transform 0.2s;
    background-image: url(../images/arrow-right-icon.svg);
    background-repeat: no-repeat;
}

.news-link:hover::after {
    transform: translateX(5px);
}

.faq {
    position: relative;
}

.faq::before {
    content: '';
    position: absolute;
    top: 215px;
    z-index: -1;
    width: 40%;
    height: 48px;
    background: url(../images/decor-icon.svg)
}

.faq-container {
    display: flex;
    gap: 28px;

}

details {
    margin-bottom:20px;
    border-block: 1px solid #d3cbd9;
}

details:last-child {
    margin-bottom: 0;
}

details[open] summary::after {
    transform: rotate(180deg);
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    list-style:none;
    padding: 20px;
    cursor: pointer;
}

summary::after {
    content:'';
    display: inline-block;
    flex-shrink: 0;
    width: 19px;
    height: 25px;
    background: url(../images/arrow-down.svg) no-repeat center;
}

summary::-webkit-details-marker {
    display: none;
}

details > p {
    padding: 0 20px 20px;
}

@media (width <= 1440px) {
    .hero-images img{
        width: 50%;
    }
}

@media (width <= 992px) {
   .hero-container {
    flex-direction: column;
    align-items: center;
   }

   .hero::after {
    display: none;
   }

   .hero-info {
    text-align: center;
}

    .hero h1 {
        margin-bottom: 30px;
      font-size: 52px;  
    }

    .hero-info .text  {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
}

    .news-container {
        flex-wrap: wrap;
        justify-content: center;
        gap:20px;
    }

    .news-article {
        flex-basis:50%;
       max-width: 350px; 
    }

    .news-article img {
        width: 100%;
    }

    .faq::before {
        display: none;
    }

    .faq-container {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (width <= 768px) {
    .hero h1 {
        font-size: 50px;
    }
    
    .news-article {
        flex-basis: 100%;
        max-width: 400px;
    }
}

@media (width <= 576px) {

    .hero {
        padding-top: 60px;
    }

    .hero h1 {
        font-size: 42px;
    }

    .hero-choose {
        max-width:125px; 
        padding: 10px;
        font-size: 14px;
    }
}

